{% extends 'layout.html' %}

{% block title %}
  INDEX
{% endblock %}

{% block body %}



    <div align='center' id="welcome-message">
      {% if session['LOGGED'] %}

        <form class="" action="{{ url_for('book_search') }}">
          <h1>Welcome {{ session['USERNAME'] }}</h1>
          <div class="form-group">
            <button class="btn btn-primary">Search a Book</button>
          </div>
        </form>

      {% else %}

        <form class="" action="{{ url_for('login_page') }}">
          <h1>Please login to access the website information</h1>
          <div class="form-group">
            <button class="btn btn-primary">Login</button>
          </div>
        </form>

      {% endif %}
    </div>



{% endblock %}
